

/*
    v-autoslide 
*/

@import "../css-dev/scss/var-pc.scss";

.v-autoslide {
    height: 100%;
    width: 100%;
}

.v-autoslide .v-autoslide-wrap {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.v-autoslide .v-autoslide-wrap ul {
    position: relative;
    white-space: nowrap;
    /*overflow: hidden;*/
    font-size: 0;
}

.v-autoslide .v-autoslide-wrap li {
    display: inline-block;
    width: 100%;
    height: 100%;
    float: none;
    font-size: 12px;
}

.v-autoslide .v-autoslide-wrap li> a {
    display: block;
    
}

.v-autoslide .v-autoslide-wrap li img {
    width: 100%;
    height: 100%;
}
/**topbottom scroll**/
.v-autoslide[data-topbottom] .v-autoslide-wrap {
    position: relative;
    padding: 0;
    height:100%;
    overflow: hidden;
    
}

.v-autoslide[data-topbottom] .v-autoslide-wrap ul {
    position: relative;
    white-space: normal;
    width: 100%;
    height: auto;
    overflow: hidden;
    font-size: 12px;
}

.v-autoslide[data-topbottom] .v-autoslide-wrap li {
    display: block;
    width: 100%;
    font-size: 12px;
}
.v-autoslide[data-topbottom] .v-autoslide-wrap li> a {
    display: block;
     height:100%;
}
.v-autoslide[data-topbottom] .v-autoslide-wrap li img {
    display: block;
    width: 100%;
    height: 100%;
}

