@import "../css-dev/scss/var-pc.scss";

.v-fade {
    position: relative;
}

.v-fade-wrap {
    position: relative;
    height: 100%;
}

.v-fade-wrap ._cont {
    height: 100%;
    width:100%;
    overflow:hidden;

}

.v-fade-wrap ._cont li {
    width: 100%;
    height: 100%;
    float: left;
   
    a {
       
        position:relative;
        display: block;
        width: 100%;
        height: 100%;
      

        ._img {
            width: 100%;
            height: 100%;
        }
    }

    ._fade-img {
        position: absolute;
        top: 0;
        bottom: 0;
        z-index: 1;
        margin: auto;
        display:none;
        width: auto;
        height: auto;
        max-height: 100%;
        max-width: 100%; 
        margin-left:60px;
      
        vertical-align:middle;
       
    }

    &.active ._fade-img {
        display:inline-block;
        opacity: 1;
       // animation: v-dafe-in 2s ease both;
    }

    &.init ._fade-img {
        display:inline-block;
    }
}



.v-fade ._radius-list {
    position: absolute;
    left: 0;
    bottom: 30px;
    z-index: 1;
    width: 100%;
    height: 0;
    text-align: center;
}

.v-fade ._radius-list span {
    display: inline-block;
    padding: 4px;
    border: 2px solid #fff;
    border-radius: 50%;
    overflow: hidden;
    
}

.v-fade ._radius-list span.active {
    background: #fff;
   
}

.v-fade ._radius-list span + span {
    margin-left: 5px;
}

.v-fade ._btn-list {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.v-fade-btn {
    position: absolute;
    z-index: 0;
    display: none;
    height: 50px;
    width: 50px;
    line-height: 50px;
    top: 50%;
    margin-top: -25px;
    text-align: center;
    font-size: 0;
    background: #fff;
    background: rgba(0,0,0, .15);
    overflow: hidden;
    transition: .4s;

    .iconfont {
        display: inline-block;
        font-size: 28px;
        line-height: 1;
        vertical-align: middle;
     
    }
}

// IE8 SUPPER

.v-fade-btn {
    .iconfont{
        color:$text-primary;
    }
}

:root .v-fade-btn {
    .iconfont {
        color: #fff;
        opacity: .8;
        transition: .4s;
    }
}


.v-fade-btn-l {
    left: 0;
    border-radius: 50%;
}

.v-fade-btn-l:hover {
   
    background: rgba(#fff, .6);

    .iconfont {
        opacity: 1;
        color: $text-primary;
    }
}

.v-fade-btn-r {
    right: 0;
    border-radius: 50%;
}

.v-fade-btn-r:hover {
    background: rgba(#fff, .6);
    color: #fff;

    .iconfont {
        opacity: 1;
        color: $text-primary;
    }
}

/*@keyframes v-dafe-in{
    0% {
      
        opacity: 0;
        transform: translateX(-1200px) rotateY(0deg) scale(0) ;
    }
    100% {
        opacity: 1;
        transform: translateX(0) rotateY(360deg) ;
    }
}*/