

$v-loading: #409eff;
$v-loading-df: #eae2e2 ;

.html-v-loading {
    overflow: hidden;
    padding-right: 17px;
}

.v-loading-pwr {
    position: relative;
}

.v-loading-cnt {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 2;
    perspective: 1200px;
    text-align: center;
    font-size: 0;

    &.v-fixed {
        position: fixed;
    }


    &:before {
        content: "";
        display: inline-block;
        height: 100%;
        vertical-align: middle;
    }


    .v-loading-txt {
        margin-left: 10px;
        color: $v-loading;
        font-size: 14px;
        vertical-align: middle;
        letter-spacing: 1px;
        font-weight: 100;
      
    }
}

.v-loading-dark .v-loading-txt {
    color: #eae2e2;
}

.v-loading-cnt-bg {
    display: none;
}

:root .v-loading-cnt-bg {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    display: block;
    background-color: hsla(0,0%,100%,.9);

    &.v-loading-dark {
        background: #000;
        background: rgba(0,0,0,.6);
    }
}

.v-loading-cnt-bgie8 {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    background-color: #000;
    background-color: hsla(0,0%,100%,.9);
    filter: alpha(opacity=60);

    &.v-loading-dark {
        background: #000;
        filter: alpha(opacity=60);
    }
}

:root .v-loading-cnt-bgie8 {
    display: none;
}

// type ball
.v-loading-ball {
    background-color: #fff;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    margin: 2px;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    border: 2px solid $v-loading;
    border-bottom-color: transparent;
    height: 25px;
    width: 25px;
    background: transparent !important;
    display: inline-block;
    vertical-align: middle;
    -webkit-animation: ball-rotate 0.75s 0s linear infinite;
    animation: ball-rotate 0.75s 0s linear infinite;
}

.v-loading-dark .v-loading-ball {
    border: 2px solid $v-loading-df;
    border-bottom-color: transparent;
}


@keyframes ball-rotate {
    0% {
        -webkit-transform: rotate(0deg) scale(1);
        transform: rotate(0deg) scale(1);
    }

    50% {
        -webkit-transform: rotate(180deg) scale(0.6);
        transform: rotate(180deg) scale(0.6);
    }

    100% {
        -webkit-transform: rotate(360deg) scale(1);
        transform: rotate(360deg) scale(1);
    }
}


// type 2

@-webkit-keyframes window-spin {
    25% {
        -webkit-transform: perspective(100px) rotateX(180deg) rotateY(0);
        transform: perspective(100px) rotateX(180deg) rotateY(0);
    }

    50% {
        -webkit-transform: perspective(100px) rotateX(180deg) rotateY(180deg);
        transform: perspective(100px) rotateX(180deg) rotateY(180deg);
    }

    75% {
        -webkit-transform: perspective(100px) rotateX(0) rotateY(180deg);
        transform: perspective(100px) rotateX(0) rotateY(180deg);
    }

    100% {
        -webkit-transform: perspective(100px) rotateX(0) rotateY(0);
        transform: perspective(100px) rotateX(0) rotateY(0);
    }
}

@keyframes window-spin {
    25% {
        -webkit-transform: perspective(100px) rotateX(180deg) rotateY(0);
        transform: perspective(100px) rotateX(180deg) rotateY(0);
    }

    50% {
        -webkit-transform: perspective(100px) rotateX(180deg) rotateY(180deg);
        transform: perspective(100px) rotateX(180deg) rotateY(180deg);
    }

    75% {
        -webkit-transform: perspective(100px) rotateX(0) rotateY(180deg);
        transform: perspective(100px) rotateX(0) rotateY(180deg);
    }

    100% {
        -webkit-transform: perspective(100px) rotateX(0) rotateY(0);
        transform: perspective(100px) rotateX(0) rotateY(0);
    }
}

.v-loading-window {
    display: inline-block;
    transform-style: preserve-3d;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    width: 40px;
    height: 40px;
    margin-right: 20px;
    background: $v-loading;
    vertical-align: middle;
    -webkit-animation: window-spin 3s 0s cubic-bezier(.09, .57, .49, .9) infinite;
    animation: window-spin 3s 0s cubic-bezier(.09, .57, .49, .9) infinite;
}

.v-loading-dark .v-loading-window {
    background: $v-loading-df;
}

.v-loading-cnt-fail{
    display:inline-block;
    vertical-align:middle;
    font-size:14px;
    color:#666;
   
}


.v-loading-cnt-fail-ttl {
    display: inline-block;
    margin-right: 5px;

    &.v-loading-fail-tb {
        display: block;
        margin-bottom: 5px;
    }

    &.v-loading-cnt-fail-ttl-ie8{
        color:$v-loading-df;
    }
}
.v-loading-cnt-fail-reload {
    display: inline-block;
    color: $v-loading;
    cursor: pointer;
    font-size: 14px;

    &.v-loading-cnt-fail-reload-ie8 {
        color: $v-loading-df;
        border:1px solid $v-loading-df;
        padding: 1px 5px;
        border-radius:5px;

    }
}

.v-loading-dark {
    .v-loading-cnt-fail {
        color: $v-loading-df;
    }

    .v-loading-cnt-fail-reload {
        padding: 1px 8px;
        border-radius: 5px;
        font-size: 12px;
        box-shadow: 0 0 5px rgba(0,0,0,.075);
        color: $v-loading-df;
        border: 1px solid $v-loading-df;
        transition: all .25s;

        &:hover {
            background: $v-loading-df;
            color: #333;
        }

       
    }
}

.no-cssanimations {
    .v-loading-window,
    .v-loading-ball {
        display: none;
    }
}
