
@import "../var-base.scss";

.html-v-modal{
     overflow:hidden;
     padding-right:17px;
}

.v-modal {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 10;
    display: none;
    text-align: center;
    font-size: 0;


    &.in {
       display:block;
       animation: modal-mask .25s ease both;
    }

    &:before {
        content: "";
        display: inline-block;
        height: 100%;
        width: 0;
        background: red;
        vertical-align: middle;
    }



    .v-modal-mask {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 0;
        background: #000;
        filter: alpha(opacity=40);
        /* for IE8 and earlier */
        opacity: .4;
    }



    .v-modal-cnt {
        position: relative;
        z-index: 1;
        display: inline-block;
        vertical-align: middle;
        min-width: 300px;
        min-height: 200px;
        background: #fff;
        font-size: 14px;
        box-shadow: 0 0 10px 5px rgba(0,0,0,.125);
    }

    .v-modal-colse {
        position: absolute;
        right: 10px;
        top: 5px;
        line-height: 1;
        font-size: 24px;
        color: #999;
        cursor: pointer;
        font-weight: 100;

        &:hover {
            color: darken(#999,10%);
        }
    }

    &.in .v-modal-cnt {
        animation: modal-cnt-in .5s ease both;
    }
}

@keyframes modal-cnt-in{
    0% {
        opacity: 0;
        transform: translateZ(0) translateY(-800px) scale(0);
    }
    100% {
     
        opacity:1;
        transform:none;
    }

}

@keyframes modal-in {
    0% {
     
      opacity: 0;
       
    }

    100% {
      
        opacity: 1;
     
    }
}

