
/*全局*/
$font-family: "Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","Microsoft YaHei",sans-serif !default;
$font-color:#333 ;
$font-size:14px !default;
$line-height: 1.42858;
$body-bg:#fff ;

$text-default: #000; // 默认
$text-primary:#2d80f6; // 选中
$text-info : #5bc0de; // 信息
$text-success: #5cb85c; // 警告 
$text-warning: #f0ad4e; // 警告
$text-danger: #d9534f; // 危险 
$text-disabled : #ccc;
$text-placeholder: #999;

