

.v-checkbox-group,
.v-checkbox {
    .iconfont {
        font-size:30px;
    }
}

/*v-checkbox*/
.v-checkbox {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;

    > * {
        vertical-align: middle;
    }

    .v-checkbox-item {
      

        &:before {
            content: '\e74a';
            color: #999;
        }

        &.active {
            &:before {
                content: '\e74b';
                color: $text-primary;
            }
        }
    }
}

/*v-checkbox-group*/
.v-checkbox-group {
    display: inline-block;
    vertical-align: middle;


    .v-checkbox-item {
        display: inline-block;
        cursor: pointer;

        &.active {
            .v-checkbox-icon:before {
                content: '\e74b';
                color: $text-primary;
            }
        }

        & + .v-checkbox-item {
            margin-left: 10px;
        }

        > * {
            vertical-align: middle;
        }

        .v-checkbox-icon {


            &:before {
                content: '\e74a';
                color: #999;
            }
        }
    }
}
