
@import "../var-pc.scss";

.v-checkbox-group,
.v-checkbox {
    .iconfont {
        font-size: 30px;
    }
}

/*v-checkbox*/
.v-checkbox {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;

    > * {
        vertical-align: middle;
    }

    .v-checkbox-item {

        &:before {
            content: '\e74a';
            color: #999;
        }

        &.active {
            &:before {
                content: '\e74b';
                color: $text-primary;
            }
        }
    }

    .v-checkbtnitem {

        &:before {
            content: '\e74a';
            color: #999;
        }

        &.active {
            &:before {
                content: '\e74b';
                color: $text-primary;
            }
        }
    }
}

/*v-checkbox-group*/

.v-radiobox-item {
    .iconfont {
        font-size: 24px;
         line-height:1;
    }
}

.v-checkbox-group {
    display: inline-block;
    vertical-align: middle;


    .v-checkbox-item {
        display: inline-block;
        cursor: pointer;

        .v-checkbox-icon {
            &:before {
                content: '\e74a';
                color: #999;
            }
        }

        .v-checkbox-txt{font-size:14px;}

        &.active {
            .v-checkbox-icon:before {
                content: '\e74b';
                color: $text-primary;
            }
        }

        & + .v-checkbox-item {
            margin-left: 10px;
        }

        > * {
            vertical-align: middle;
        }
    }
}

/*v-radiokbox*/
.v-radiobox-group {
    display: inline-block;
    vertical-align: middle;

    .v-radiobox-item {
        display: inline-block;
        vertical-align: middle;
        font-size: 14px;
        color: #777;
        cursor: pointer;

        > * {
            vertical-align: middle;
        }

        .v-radiobox-icon:before {
            margin-right: 5px;
            content: '\ea2a';
            color: #999;
          
        }

        .v-radiobox-txt {
            display: inline-block;
            margin-left:-5px;
            font-size: 14px;
           
        }

        &.active {
            .v-radiobox-icon:before {
                margin-right: 5px;
                content: '\e86a';
                color: $text-primary;
                
            }
        }

        & + .v-radiobox-item {
            margin-left: 10px;
        }
    }
}
